<a href="https://colab.research.google.com/github/kostikixum/DZ3/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Untitled0_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задача 1
### Условие 2 Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [ ]:
def sclad(**kwargs):
    {print(f"Фрукт {name} в количестве {values} шт")
     for name, values in kwargs.items()}
    return print(f'Общее количество фрутов: {sum(kwargs.values())}')

sclad( orange = 15, appel = 32, lemon = 11)

Фрукт orange в количестве 15 шт
Фрукт appel в количестве 32 шт
Фрукт lemon в количестве 11 шт
Общее количество фрутов: 58

##Задача 1
### Условие 3 :Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [ ]:
list_cosst = [100, 125, -90, 345, 655, -1, 0, 200]
position_cosst = [i for i in list_cosst if i > 0]
print(f'Затраты на рекламу с положительными величинами {position_cosst}')
f"Суммарные затраты составляют: {sum(position_cosst)} "

Затраты на рекламу с положительными величинами [100, 125, 345, 655, 200]

'Суммарные затраты составляют: 1425 '

##Задача 4
Даны два списка.
>Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

>Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
### Условие 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [ ]:
list_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
              '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
amount_by_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274,
                  6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
list_Month = [i.split('-')[1] for i in list_dates]
tuple_November_Revenue = [(f'Месяц {list_Month[i]}', f'выручка {amount_by_date[j]}')
                          for i in range(len(list_Month))
                          for j in range(len(amount_by_date))
                          if i == j and list_Month[i] == '11']
tuple_November_Revenue
print(tuple_November_Revenue[0][0], f'выручка составило: {sum([amount for dates, amount in zip(list_dates, amount_by_date) if dates[5:7] == "11"])}')

Месяц 11 выручка составило: 25098

### Условие 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [ ]:
def revenue_by_month(list_date: list, list_revenue: list) -> dict:
    # list_Month = [i.split('-')[1] for i in list_date]
    # dict_Month = {list_date[i].split('-')[1] : list_revenue[j] for i in range(len(list_date)) for j in range(len(list_revenue)) if i == j}
    dict_Month = {}
    for i in range(len(list_date)):
        if list_date[i].split('-')[1] in dict_Month.keys():
            dict_Month[list_date[i].split('-')[1]] += list_revenue[i]
        else:
            dict_Month[list_date[i].split('-')[1]] = list_revenue[i]
    return dict_Month
revenue_by_month(list_dates, amount_by_date)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}